body{
	background-color:#f9f9f9;
	font-size:16px
	color:#555;
	font-family: sans-serif;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}
 
/*header*/
header{
	background-color: #a05f7e;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.judul,
header h3.deskripsi{
	text-align: center;	
}

img{
	position: absolute;
	padding: 1px;
	border: 1px;
	align-items: center;
}